@font-face {
    font-family: "Inter";
    src: url("./Fonts/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-semibold";
    src: url("./Fonts/Inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-medium";
    src: url("./Fonts/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-regular";
    src: url("./Fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Island-Moments";
    src: url("./Fonts/IslandMoments-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins/Poppins-Regular.ttf") format("truetype")    ;
}

@font-face {
    font-family: "Jost";
    src: url("./Fonts/Jost/Jost-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
    font-size: 16px;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    padding: 0 1rem; 
    background-color: white;
    box-sizing: border-box;
}

.chuks-kitchen {
    font-family: "Island-Moments", sans-serif;
    font-weight: 400;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    color: #FF7A18;
}

.hamburger-menu {
    width: 2rem;
    height: 2rem;
}

h3, .login-button, .final, .view-2 {
    display: none;
}

.first {
    margin: 0;
    background-color: white;
}

.second-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second {
    background-color: white;
    padding: 1rem;
}

.exit-container {
    display: flex;
    justify-content: flex-end;
}

.jollof, .protein {
    font-family: "Inter-semibold", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0%;
}

.price {
    font-family: "Inter-semibold", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0%;
    color: #FF7A18;
}

.signature {
    font-family: "Inter-regular", sans-serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -2%;
}

.prepared {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mild, .view, .vegetarian {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: #F3F4F6;
    border-radius: 10px;
    padding: 0 0.5rem;
}

.mild {
    margin: 0 1rem 1rem 0;
}

.view {
    margin: 0 0 1rem 0;
}


.mildy, .allergy, .option {
    font-family: "Inter-regular", sans-serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -2%;
    color: #4B5563;
}

.allergy {
    color: #1E88E5;
}

.proteins, .extra-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.choose, .extra, .instructions {
    margin: 2rem 0;
}

.proteins-flex, .extra-sides-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.border-orange {
    border: 5px solid #FF7A18;
    background-color: transparent;
    border-radius: 3rem;
    width: 1rem;
    height: 1rem;
}

.protein-type, .default, .amount, .additions {
    font-family: "Inter-regular", sans-serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -2%;
}

.sides, .special {
    font-family: "Inter-medium", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 34px;
}

.border {
    border: 2px solid #BDBDBD;
    background-color: transparent;
    border-radius: 10px;
    width: 1.5rem;
    height: 1.5rem;
}

.example {
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.eg {
    font-family: "Inter-medium", sans-serif;
    font-weight: 500;
    line-height: 24px;
}

@media screen and (min-width: 600px) {
    .jollof, .protein, .price, .sides, .special {
        font-size: 2rem;
    }

    .signature, .mildy, .allergy, .option, .protein-type, .default, .amount, .additions, .eg {
        font-size: 1.3rem;
    }

    .choose, .extra, .instructions {
        margin: 3rem 0;
    }
}

@media screen and (min-width: 900px) {
    .home, .explore, .orders, .account, .login {
        font-family: "Inter-medium", sans-serif;
        font-weight: 500;
        display: block;
    }

    .login-button {
        display: block;
        background-color: #FF7A18;
        border-radius: 10px;
        padding: 0 2rem;
        color: white;
    }

    .chuks-kitchen {
        font-size: 2.5rem;
    }

    .home {
        color: #FF7A18;
    }

    .hamburger-menu, .second-image {
        display: none;
    }

    .display-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #F3F4F6;
    }
    
    .first {
        background-image: url("./Image/desktop-image.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
    }

    .second {
        margin: 2rem;
        border-radius: 5px;
    }

    .jollof, .protein, .price, .sides, .special {
        font-size: 1.5rem;
    }

    .signature, .mildy, .allergy, .option, .protein-type, .default, .amount, .additions, .eg {
        font-size: 1rem;
    }

    .choose, .extra, .instructions {
        margin: 3rem 0;
    }

    .prepared {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .view-2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        border-radius: 10px;
        padding: 0 0.5rem;
    }

    .mild, .vegetarian  {
        background-color: transparent;
        gap: 0.5rem;
        margin: 0;
    }

    .view {
        display: none;
    }

    .final {
        display: block;
        background-color: hsl(19, 29%, 32%);
    }

    .bottom-grid, footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
        color: white;
    }

    .quick, .contact-us, .bringing {
        font-family: "Jost", sans-serif;
        font-weight: 400;
    }

    .bringing {
        font-size: 1.1rem;
    }

    .homes, .copyrights, .explores, .order, .accounts, .contact, .phone-number, .email, .address, .facebooks, .twitter, .instagram, .linkedin {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        font-size: 0.8rem;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}